.projects {
    grid-column: 2;
}

.projects .projects-header {
    grid-column: 2;
    width: 100%;
    display: flex;
}

.projects-header .projects-header-text {
    width: fit-content;
    height: fit-content;
    padding: 5px;
    grid-column: 2;
    margin: auto;
    margin-bottom: -35px;
    background: #000000;
    font-size: 30px;
    padding: 20px;
}

.projects-header-line {
    background: #4ceb81;
    height: 2px;
    margin-bottom: 50px;
}

.projects .projects-body {
    grid-column: 2;
    display: grid;
    grid-template-columns: 2fr 4fr;
}

.projects-body .projects-body-image {
    grid-column: 1;
    margin: 20px;
    height: 200px;
    width: 450px;
    background: #3b3b3b;
    display: flex;
}

.projects-body .projects-body-text {
    grid-column: 2;
    margin: 20px;
    width: 100%;
}

.projects-body-text .headling {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

.projects-body-text .text {
    text-align: left;
    line-height: 1.5;
    color: #b4b4b4;
}